//menu button
.menu-btn {
    position: absolute;
    z-index: 3;
    right: 35px;
    top: 35px;
    cursor: pointer;
    @include easeOut;

.btn-line {
width: 28px;
height: 3px;
margin: 0 0 5px 0;
background: #ffffff;
@include easeOut;


}

//rotate x btn menu
&.close {
transform: rotate(180deg);
.btn-line {
// rotate 1
&:nth-child(1) {
transform: rotate(45deg) translate(5px, 5px);
}
    
//hide 2
&:nth-child(2) {
    opacity: 0;
    }
//rotate 3
&:nth-child(3) {
    transform: rotate(-45deg) translate(6.5px, -6.5px);
    }
}
}




}


// menu Ui design

.menu {
position: fixed;
top: 0;
width: 100%;
opacity: 0.9;
visibility: hidden;

&.show {
visibility: visible;


}
&-branding, 
&-nav {
display: flex;
flex-flow: column wrap;
align-items: center;
justify-content: center;
float: left;
width: 50%;
height: 100vh;
overflow: hidden;

}

&-nav {
margin: 0;
padding: 0;
background: darken($primary-color, 5);
list-style: none;
transform: translate3d(0, -100%, 0);
@include easeOut;



&.show{
transform: translate3d(0, 0, 0);
}
}

//brand logo
&-branding {
background: $primary-color;
transform: translate3d(0, 100%, 0);
@include easeOut;

&.show {//effects slide out/in
    transform: translate3d(0, 0, 0);
    }
.portrait {
width: 200px;
height: 200px;
background: url('../img/profile.png');
border-radius: 50%;
border: solid 3px $tri-color;
opacity: 100%;
}


}
.nav-items {
transform: translate3d(600px, 0, 0);
@include easeOut;

&.show {//effects slide out/in
transform: translate3d(0, 0, 0);


}
&.current > a {
color: $tri-color;

}

}
 .nav-link {
display: inline-block;
position: relative;
font-size: 30px;
text-transform: uppercase;
padding: 1rem 0;
font-weight: 300;
color: #ffffff;
text-decoration: none;
text-shadow: greenyellow; 
@include easeOut;

&:hover {
    color: $forth-color;
}
}
}
//delay effects

@for $x from 1 through 4 {
.nav-items:nth-child(#{$x}) {
transition-delay: $x * 0.1s;

}

}