@import 'config';
@import 'menu';
@import 'mobile';

//I removed all the variables and xfer it to config and menu file. remote the underscore on import. //

* {
box-sizing: border-box;

}

body {
@include background;
background: $primary-color;
color: #ffffff;
height: 100%;
margin: 0;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
line-height: 1.5;
}

//headings
h1,
h2,
h3 {
margin: 1px;
font-weight: 400;
&.lg-heading {

font-size: 6rem;   

}
&.sm-heading {
    text-indent: 10rem;
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: rgba(lighten($primary-color, 2), 0.5);
}
}

a {
color: #ffffff;
text-decoration: none;
}
header {
position: fixed;
z-index: 2;
width: 100%;
}

.text-secondary {
color: $secondary-color;
font-family: 'Zhi Mang Xing', cursive;
}

    main {
    padding: 4rem;
    height: 100%;

            .icons {
            margin-top: 1rem;
                a {
                padding: 0.5rem;

                &:hover {
                color: $tri-color;
                @include easeOut();
        
                        }
                   }
                  }

&#home {

overflow: hidden;
h1 {
margin-top: 20vh;

}
h2 {
font-family: 'Zhi Mang Xing', cursive;
text-indent: 0rem;
letter-spacing: 5px;

}


}

          }







