@import 'config';
@import 'menu';


//I removed all the variables and xfer it to config and menu file. remote the underscore on import. //

* {
box-sizing: border-box;

}

body {
@include background;
background: $primary-color;
color: set-text-color($primary-color);
height: 100%;
margin: 0;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
line-height: 1.5;
}

//headings
h1,
h2,
h3 {
margin: 1px;
font-weight: 400;
&.lg-heading {

font-size: 6rem;   

}
&.sm-heading {
    text-indent: 10rem;
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: rgba(lighten($primary-color, 2), 0.5);
}
}

a {
color: #ffffff;
text-decoration: none;
}
header {
position: fixed;
z-index: 2;
width: 100%;
}

.text-secondary {
color: $secondary-color;
font-family: 'Zhi Mang Xing', cursive;
}

    main {
    padding: 4rem;
    //height: 100%;
        min-height: calc(100vh - 60px);
            .icons {
            margin-top: 1rem;
                a {
                padding: 0.5rem;

                &:hover {
                color: $tri-color;
                @include easeOut();
        
                        }
                   }
                  }

&#home {

overflow: hidden;
h1 {
margin-top: 20vh;

}
h2 {
font-family: 'Zhi Mang Xing', cursive;
text-indent: 0rem;
letter-spacing: 5px;

}


}

}

.about-info {
display: grid;
grid-template-areas: 
'bioimage bio bio'
'job1 job2 job3';
grid-template-columns: repeat(3, 1fr);
.bio-image {
    grid-area: bioimage;
    margin: auto;
    border-radius: 50%;
    border: $tri-color 5px solid;
}
.bio {
grid-area: bio;
font-size: 1.5rem;

}
.job1 {
grid-area: job1;

}
.job2 {
    grid-area: job2;
    
    }
    .job3 {
        grid-area: job3;
        
        }
            
  h3 {
      color: $secondary-color;
      font-family:'Zhi Mang Xing', cursive;
      text-indent: 1rem;
      letter-spacing: 1px;
      text-align: justify;
      margin-left: 0;
      margin: 0;
      padding: 0;
      
  }
  h6 {
    text-indent: 1rem;
    letter-spacing: 1px;
    text-align: justify;
    margin-left: 0;
    margin: 0;
    padding: 0; 
  }

}
.job {
    background: lighten($primary-color, 5);
    padding: 0.5rem;
    border-bottom: $secondary-color 5px solid;
    border: 2rem;
    border-color: $primary-color;
            }
    
#main-footer {
    text-align: center;
    padding: 1rem;
    background: darken($primary-color, 10);
    color: set-text-color($primary-color);
    height: 60px;
}

@import 'mobile';
